{{ define "base" }}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{template "title" .}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style type="text/css">
        #gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: .5rem;
            justify-items: center;
            margin: 0;
            padding: 0;
        }

        .resource {
            text-align: center;
        }

        .resource img {
            font-size: 1.5rem;
            max-width: 100%;
            height: auto;
            object-fit: cover;
            transition: opacity 0.25s ease-in-out;
            background: #eee url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".25" ><rect x="200" width="200" height="200" /><rect y="200" width="200" height="200" /></svg>');
            background-size: 16px 16px;
        }

        .resource img:hover {
            opacity: .7;
        }
    </style>

</head>

<body>

    <svg version="1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" style="display: none;">
        <symbol id="logo">
            <defs id="defs4">
                <linearGradient id="linearGradient3175">
                    <stop style="stop-color:#ededed;stop-opacity:1;" offset="0" id="stop3177" />
                    <stop style="stop-color:#adb4a5;stop-opacity:1;" offset="1" id="stop3179" />
                </linearGradient>
                <linearGradient id="linearGradient3302">
                    <stop style="stop-color:#33322d;stop-opacity:1;" offset="0" id="stop3304" />
                    <stop style="stop-color:#a40000;stop-opacity:1;" offset="1" id="stop3306" />
                </linearGradient>
                <filter id="filter3405" x="-0.14166156" width="1.2833231" y="-0.14166156" height="1.2833231">
                    <feGaussianBlur stdDeviation="3.6134948" id="feGaussianBlur3407" />
                </filter>
                <linearGradient xlink:href="#linearGradient3302" id="linearGradient3235" x1="305.16235" y1="552.85535"
                    x2="295.56763" y2="492.41074" gradientUnits="userSpaceOnUse" />
                <linearGradient xlink:href="#linearGradient3175" id="linearGradient3181" x1="259.88516" y1="521.76569"
                    x2="334.23822" y2="521.76569" gradientUnits="userSpaceOnUse" />
            </defs>
            <metadata id="metadata7">
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g id="layer2" style="display:inline">
                <rect ry="15.367907" rx="13.282503"
                    transform="matrix(0.9972178,-7.4542865e-2,7.4542865e-2,0.9972178,-288.07144,-449.61258)"
                    y="484.97949" x="260.27548" height="73.572449" width="73.572449" id="rect3343"
                    style="opacity:1;fill:#2e3436;fill-opacity:1;stroke:#2e3436;stroke-width:3.5;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter3405)" />
            </g>
            <g id="layer4" style="display:inline">
                <rect ry="14.825669" rx="12.813847"
                    transform="matrix(0.9972178,-7.4542868e-2,7.4542868e-2,0.9972178,-290.07144,-451.61258)"
                    y="486.27744" x="261.57343" height="70.97654" width="70.97654" id="rect3225"
                    style="opacity:1;fill:url(#linearGradient3235);fill-opacity:1;stroke:none;stroke-width:3.37650681;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;display:inline" />
            </g>
            <g transform="translate(-290.07144,-451.61258)" id="layer1" style="display:inline">
                <path id="path2490"
                    d="M 349.75198,496.80632 C 346.93931,488.79924 339.43561,479.73684 327.69962,480.44759 C 317.69209,481.05366 315.57779,489.7915 315.57779,489.7915 C 315.03107,492.73426 313.69092,528.13759 312.54733,536.25852 L 364.87913,532.38181 L 363.81258,531.20775 C 363.81258,531.20775 357.75166,515.55039 355.47882,509.48947 C 353.20597,503.42856 353.96359,495.59988 353.96359,495.59988 L 349.75198,496.80632 z"
                    style="fill:#eeeeec;fill-rule:evenodd;stroke:#a40000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                <path
                    style="fill:none;fill-opacity:1;stroke:#a40000;stroke-width:1.25;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    d="M 348.15521,508.73186 C 348.15521,510.54407 346.68443,512.01485 344.87221,512.01485 C 343.06,512.01485 341.58922,510.54407 341.58922,508.73186 C 341.58922,506.91964 343.06,505.44886 344.87221,505.44886 C 346.68443,505.44886 348.15521,506.91964 348.15521,508.73186 z"
                    id="path2496" />
                <path
                    style="fill:none;fill-opacity:1;stroke:#a40000;stroke-width:1.25;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                    d="M 351.43821,505.44886 C 351.43821,506.42467 350.64625,507.21663 349.67044,507.21663 C 348.69463,507.21663 347.90267,506.42467 347.90267,505.44886 C 347.90267,504.47306 348.69463,503.6811 349.67044,503.6811 C 350.64625,503.6811 351.43821,504.47306 351.43821,505.44886 z"
                    id="path2498" />
                <path
                    style="fill:#eeeeec;fill-opacity:1;stroke:#a40000;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 320.06034,487.9606 C 320.06034,491.58502 318.07893,494.21092 314.3151,494.21092 C 310.55127,494.21092 308.44359,491.64816 308.44359,488.02373 C 308.44359,484.3993 310.425,482.78357 314.18883,482.78357 C 317.95266,482.78357 320.06034,484.33617 320.06034,487.9606 z"
                    id="path2500" />
                <path
                    style="fill:#eeeeec;fill-opacity:1;stroke:#a40000;stroke-width:1;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 351.69075,480.25818 C 351.69075,484.44022 349.54619,487.32925 345.50356,487.32925 C 341.46093,487.32925 337.80115,485.1347 337.80115,480.95266 C 337.80115,476.77063 340.89272,475.20742 344.93535,475.20742 C 348.97798,475.20742 351.69075,476.07615 351.69075,480.25818 z"
                    id="path2502" />
            </g>
            <g id="layer5">
                <path transform="translate(-290.07144,-451.61258)"
                    style="fill:none;fill-rule:evenodd;stroke:#a40000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;display:inline"
                    d="M 311.6099,486.80489 C 312.37913,486.61258 316.80221,487.38181 316.80221,487.38181"
                    id="path3279" />
                <path transform="translate(-290.07144,-451.61258)"
                    style="fill:none;fill-rule:evenodd;stroke:#a40000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;display:inline"
                    d="M 341.99452,481.03566 C 347.18682,481.22796 347.18682,481.22796 347.18682,481.22796"
                    id="path3281" />
                <path transform="translate(-290.07144,-451.61258)" id="path2416"
                    d="M 349.75198,496.80632 C 337.90498,500.09162 314.57135,505.8087 311.2526,502.00658"
                    style="fill:none;fill-rule:evenodd;stroke:#a40000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;display:inline" />
            </g>
            <g id="layer3" style="display:inline">
                <rect
                    style="opacity:1;fill:none;fill-opacity:1;stroke:url(#linearGradient3181);stroke-width:2;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;display:inline"
                    id="rect3208" width="70.97654" height="70.97654" x="261.57343" y="486.27744"
                    transform="matrix(0.9972178,-7.4542868e-2,7.4542868e-2,0.9972178,-290.07144,-451.61258)"
                    rx="12.813847" ry="14.825669" />
                <rect
                    style="opacity:1;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:3.5;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;display:inline"
                    id="rect3292" width="73.572449" height="73.572449" x="260.27548" y="484.97949"
                    transform="matrix(0.9972178,-7.4542867e-2,7.4542867e-2,0.9972178,-290.07144,-451.61258)"
                    rx="13.282503" ry="15.367907" />
            </g>
        </symbol>
    </svg>

    <div class="container">

        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        </header>
        <main>
            {{ template "main" . }}
        </main>
        <footer class="text-center justify-content-between align-items-center py-3 my-4 border-top">
            <a class="align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
                href="https://github.com/redtoad/xcom-editor/">
                <svg class="bi me-2" width="90" height="90">
                    <use xlink:href="#logo" />
                </svg>
                <span>Made with &hearts;</span>
            </a>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>
{{end}}